--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.3.0+cpu
fastapi
uvicorn
pydantic
requests
python-dotenv
pymupdf
langchain-text-splitters
chromadb
sentence-transformers
python-multipart
boto3
pinecone
sqlalchemy
pyjwt
